@model User
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Home";

    }
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome @Model.Firstname</h3>
                <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>
            </div>
            <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                        <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                            <a class="dropdown-item" href="#">January - March</a>
                            <a class="dropdown-item" href="#">March - June</a>
                            <a class="dropdown-item" href="#">June - August</a>
                            <a class="dropdown-item" href="#">August - November</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4"># of Registered Users</p>
                        <p class="fs-30 mb-2">@ViewBag.RegUsersCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4"># of Registered Chefs</p>
                        <p class="fs-30 mb-2">@ViewBag.RegChefsCount</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Total Sales</p>
                        <p class="fs-30 mb-2">@ViewBag.TotalProfit $</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Sales</p>
                        <p class="fs-30 mb-2">@ViewBag.TotalSales Recipes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Number of Registered Recipes</p>
                        <p class="fs-30 mb-2">@ViewBag.AcceptedRec</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Recipes waiting for Approval</p>
                        <p class="fs-30 mb-2">@ViewBag.RejectedRec</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row"> 
<div class="card mb-4">
    <div class="card-body">
        <p class="card-title mb-0">Users</p>
        <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <tbody>
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Recipes Bought</th>
                            <th>Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                                @foreach (var user in ViewBag.RegUsers)
                                {
                            <tr>
                                <td>@user.Username</td>
                                <td>@user.Firstname</td>
                                <td>@user.Lastname</td>
                                <td>@user.Email</td>
                                <td>@user.Payments.Count</td> 
                                <td>@user.Registrationdate</td>
                            </tr>
                                }
                    </tbody>            
                </table>

        </div>
    </div>
</div>
</div>

<div class="row mb-4">
    <div class="card">
        <div class="card-body">
            <p class="card-title mb-0">Chefs</p>
            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <tbody>
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Recipes Shared</th>
                            <th>Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var user in ViewBag.RegChefs)
                            {
                            <tr>
                                <td class="font-weight-bold">@user.Username</td>
                                <td class="font-weight-bold">@user.Firstname</td>
                                <td class="font-weight-bold">@user.Lastname</td>
                                <td class="font-weight-bold">@user.Email</td>
                                <td class="font-weight-bold">@user.Recipes.Count</td>

                                <td class="font-weight-bold">@user.Registrationdate</td>
                            </tr>
                            }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="card">
        <div class="card-body">
            <p class="card-title mb-4">Accepted Recipes</p>
            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <tbody>
                    <thead>
                        
                        <tr>
                            <th>Recipe Name</th>
                            <th>Chef Username</th>
                            <th>Category Name</th>
                            <th>Ingredians</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var recipeInfo in ViewBag.RecipeInfo)
                            {
                            <tr>
                                <td>@recipeInfo.Recipe.Recipename</td>
                                <td>@recipeInfo.Chef.Username</td>
                                <td>@recipeInfo.Category.Categoryname</td>
                                <td>@recipeInfo.Recipe.Ingredients</td>
                                <td>@recipeInfo.Recipe.Price</td>
                            </tr>
                            }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

                                

<div class="row mb-4">
    <div class="card">
        <div class="card-body">
            <p class="card-title mb-4">Recipes Sales</p>
            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <tbody>
                    <thead>

                        <tr>
                            <th>Username</th>
                            <th>Recipe Name</th>
                            <th>Category Name</th>
                            <th>Price</th>
                            <th>Payment Status</th>
                            <th>Buying Date</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var RequstedInfo in ViewBag.RequstedInfo)
                            {
                            <tr>
                                <td>@RequstedInfo.User.Username</td>
                                <td>@RequstedInfo.Recipe.Recipename</td>
                                <td>@RequstedInfo.Category.Categoryname</td>
                                <td>@RequstedInfo.Recipe.Price</td>
                                <td>@RequstedInfo.Payments.Paymentstatus</td>
                                <td>@RequstedInfo.Payments.Paymentdate</td>
                            </tr>
                            }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>